extends ../layout

block content
    .jumbotron.text-center
        h1 Sign in to Writer's Trail
        p Login or register with:
        a.btn.btn-primary(href="/auth/facebook")
            span.fa.fa-facebook.fa-fw
            span Facebook
        span &nbsp;
        a.btn.btn-danger(href="/auth/google")
            span.fa.fa-google-plus.fa-fw
            span Google

