extends ../layout

block content
  h1 Mail
  
  form.form-horizontal(method='post')
    input(type='hidden' name='_csrf' value=csrf)
    .form-group
      label.control-label Users
      select.form-control(name='users' multiple=true size=20)
        for u in users
          option(value=u.id)= u.name + ' <' + u.email + '>'
    .form-group
      label.control-label Template
      select.form-control(name='template')
        for t in templates
          option(value=t.id)= t.name
    .form-group
      label.control-label Subject
      input.form-control(type='text' name='subject')
    .form-group
      label.control-label Body (HTML)
      textarea.form-control(name='body' rows=7)
    .form-group
      button.btn.btn-primary(type='submit') Send