.container
  .row
    .col-md-12
      p.text-center: small
        | Made with <span title="love" class="fa fa-heart" style="color: red"></span> by&#x0020;
        a(href='http://georgemarques.com.br' title='George Marques') George Marques
        | . 
        a(href='/tos' title='Terms of Service') Terms of Service
        |  &mdash; 
        a(href='/privacy' title='Privacy Policy') Privacy Policy
        |  &mdash; 
        a(href='/donations' title='Donate') Donate
