.container
  .row
    .col-sm-12
      p.text-center: small Copyright 2015 &copy; Writer's Trail. 
        a(href='/tos' title='Terms of Service') Terms of Service
        |  &mdash; 
        a(href='/privacy' title='Privacy Policy') Privacy Policy
        |  &mdash; 
        a(href='/donations' title='Donate') Donate
        