//- Google Webmaster Tools
meta(name="google-site-verification" content="HobKoO8r3WYaPXqpMX63mG8E78XBIlQ9oL4_t57gLf4")

//- Twitter Card
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@writerstrail")
meta(name="twitter:title" content="Writer's Trail")
meta(name="twitter:description" content="A tool for writers to keep track of their progress (inspired by NaNoWriMo charts).")
meta(name="twitter:image" content="http://writerstrail.georgemarques.com.br/image/writerstrail-big.png")
meta(name="twitter:url" content="http://writerstrail.georgemarques.com.br")

//- Open Graph
meta(property="og:title" content="Writer's Trail")
meta(property="og:url" content="http://writerstrail.georgemarques.com.br/")
meta(property="og:type" content="website")
meta(property="og:image" content="http://writerstrail.georgemarques.com.br/images/writerstrail-big.png")
meta(property="og:description" content="A tool for writers to keep track of their progress (inspired by NaNoWriMo charts). Now you can keep track of your writings statistics.")
meta(property="fb:app_id" content="1570601513153802")