mixin navDropdown(obj)
  - if (obj.dropdown)
    li.dropdown
      a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false')
        = obj.label
        span.caret
      ul.dropdown-menu(role='menu')
        each item in obj.list
          +navDropdown(item)
  - else
    - if(obj.key === 'divider')
      li.divider
    - else
      - var isActive = (obj.key === section ? 'active' : '')
      li(class=isActive)
        a(href=obj.href, title=__(obj.title))= __(obj.label)
    

nav.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/', title=__('Go to home page'))= __("Writer's Trail")
    #navbar.collapse.navbar-collapse
      - var left = navlist.left
      ul.nav.navbar-nav
        each item in left
          +navDropdown(item)
       ul.nav.navbar-nav.navbar-right
        each item in navlist.right
          +navDropdown(item)