extends ../layout

block content
  h1 #{feedback.type} deleted
  
  a.btn.btn-primary.btn-lg(href='/feedback/' + feedback.id + '/delete/undo') No, I didn't mean to do that! Undo it!
  
  p  
  
  .row: .col-md-12: .panel.panel-success
    .panel-heading
      h3.panel-title Deleted feedback was:
    ul.list-group
      li.list-group-item: .row
        .col-md-2
          strong Summary
        .col-md-10
          = feedback.summary
      li.list-group-item: .row
        .col-md-2
          strong Description
        .col-md-10
          unless feedback.description
            | No description provided.
          else
            - var lines = feedback.description.split(/(?:\r\n|\r|\n)/g)
              for line, i in lines
                if i > 0
                  br
                = line
