extends ../layout

block content
  h1 Feedback list
  
  if user
    .btn-group
      a.btn.btn-success(href='/feedback/new' title='New feedback')
        span.fa.fa-lg.fa-plus
        |  Add feedback/bug/suggestion
      a.btn.btn-default(href='/feedback/mine' title='Your feedback')
        span.fa.fa-lg.fa-list
        |  See feedbacks you provided
  p  
  
  .row
    .col-sm-8
      ul.list-group
        for fb in feedbacks
          - var itemclass = fb.type === 'Bug' ? 'danger' : (fb.type === 'Suggestion' ? 'success' : 'info')
          li.list-group-item(class='list-group-item-' + itemclass)
            span.badge= fb.totalVotes || 0
            if user
              - var vote = _.where(votes, { feedbackId: fb.id })
              - vote = vote.length > 0 ? vote[0].vote : '0'
              a.text-success(href='/feedback/' + fb.id + '/upvote' + (vote === 1 ? '/undo' : '') title='I approve' + (vote === 1 ? ' (undo)' : '')): span.fa.fa-lg(class='fa-thumbs-' + (vote === 1 ? '' : 'o-') + 'up')
              |  
              a.text-danger(href='/feedback/' + fb.id + '/downvote' + (vote === -1 ? '/undo' : '') title='I disapprove' + (vote === -1 ? ' (undo)' : '')): span.fa.fa-lg(class='fa-thumbs-' + (vote === -1 ? '' : 'o-') + 'down')
              |  
            a(href='/feedback/' + fb.id title=fb.type class='text-' + itemclass)= fb.summary