bower_components/*
node_modules/*
start.sh

# Built css files
public/stylesheets/*.css

# Temp files
*~
/coverage/

# IDE Files
.brackets.json
.idea

# Locales tranlations
locales

# Minified sources
public/scripts/*.min.js
public/scripts/*.map.js
