extends layout

block preoutside
  include mixins/nofeedback
  .jumbotron.text-center
    .container
      h1
        img(src='/images/banner.png' alt="Writer's Trail" title="Writer's Trail")
      h2 Now you can keep track of your writings statistics 
        span.fa.fa-signal
      a.btn.btn-lg.btn-primary(href='/signin')
        span.fa.fa-lg.fa-sign-in
        |  Apply for closed beta
      
block content
  .text-center
    h2 Te
  
block stylesheets
  link(rel='stylesheet', href='/stylesheets/home.css')