doctype html
html
  head
    title!= (title ? title + ' &raquo; ' : '') + __('Writer\'s Trail')
    block styles
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
        include navbar
        - if(successMessage && successMessage.length > 0)
            .alert.alert-success= successMessage
        - if(errorMessage && errorMessage.length > 0)
            .alert.alert-danger= errorMessage
        - if(warningMessage && warningMessage.length > 0)
            .alert.alert-warning= warningMessage
        block content

    block scripts
        script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')