extends ../../layout

block content
  h1= title
  
  .panel.panel-primary
    .panel-heading
      h3.panel-title List of active projects
      
    ul.list-group
      for project in projects
        li.list-group-item
          .row
            .col-sm-2.text-right
              a(href='/projects/' + project.id)= project.name
              | &nbsp;
              a(href='/projects/' + project.id + '/edit' title='Edit')
                span.fa.fa-edit
            .col-sm-8
              if project.targetwc > 0
                .progress(title=project.currentWordcount + '/' + project.targetwc)
                  - var barClass = project.percentage < 33 ? 'danger' : (project.percentage < 66 ? 'warning' : 'success')
                  .progress-bar(role='progressbar' aria-valuenow=project.percentage aria-valuemax='100' style='width: ' + project.percentage + '%;' class='progress-bar-' + barClass)
                    = project.percentage + '%'
              else
                | No target defined.&nbsp;
                = project.currentWordcount
                | &nbsp;written words.
            .col-sm-2
              a.btn.btn-primary(href='/sessions/new?projectid=' + project.id title='New session for project ' + project.name) New session