extends ../../layout

block content
  include ../../mixins/paginate
  h1= __('Projects')

  p
    a(href='/projects/new') New project

  ul.list-group
    each project in projects
      li.list-group-item
        span.fa.fa-fw.fa-folder-open-o
        | &nbsp;
        a(href=("/projects/" + project.id) title=project.description)= project.name
  +paginate(paginate, pageCount, currentPage)