extends ../layout

block content
  include ../mixins/nofeedback
  .jumbotron.text-center
    h1= title
    
    p Help keep Writer's Trail and NaNoWriMo alive.
    p: small Half of the donations will be sent to the 
      a(href='http://nanowrimo.org') NaNoWriMo organization
      | . (We are not endorsed by them in any way).
      
    include donatebutton.html