@media (max-width: 830px)
  #feedback
    display none
@media (min-width: 830px)
  #feedback
    height 104px
    width 104px
    position fixed
    top 40%
    z-index 1000
    transform rotate(-90deg)
    -webkit-transform rotate(-90deg)
    -moz-transform rotate(-90deg)
    -o-transform rotate(-90deg)

  #feedback a
    text-decoration none
