html
  overflow-y scroll

.time-fields .form-control
  width 5em
  
.clock-face
  stroke #000
  stroke-width 3px
  fill #DDD
  
#ticks line
  stroke #000
  
#hourHand, #minHand, #secHand 
  stroke-width 1px
  fill: #000
  stroke: #000

#secHand 
  stroke #f55