extends ../../layout

block content
  include ../../mixins/paginate
  h1= __('Targets')

  p
    a(href='/targets/new') New Target

  ul.list-group
    each target in targets
      li.list-group-item
        a.btn.btn-default(href='/targets/' + target.id + '/edit' title='Edit')
          span.fa.fa-fw.fa-edit.fa-lg
        | &nbsp; 
        span.fa.fa-fw.fa-bullseye
        | &nbsp;
        a(href=("/targets/" + target.id) title=target.notes)= target.name
  +paginate(paginate, pageCount, currentPage)