extends ../../layout

block content
  h1= title
  
  .row
    .col-sm-2.text-right
      strong Name:
    .col-sm-10
      = target.name
      
  .row
    .col-sm-2.text-right
      strong Start:
    .col-sm-10
      = moment(target.start).format('YYYY-MM-DD')
 
  .row
    .col-sm-2.text-right
      strong End:
    .col-sm-10
      = moment(target.end).format('YYYY-MM-DD')
      
  .row
    .col-sm-2.text-right
      strong Target wordcount:
    .col-sm-10
      = target.wordcount
      
  .row
    .col-sm-2.text-right
      strong Notes:
    .col-sm-10
      - var notePieces = target.notes.split(/(?:\r\n|\r|\n)/g)
      for line, i in notePieces
        if i > 0
          br
        = line
        
  .row
    .col-sm-2
      strong Projects:
    .col-sm-10
      ul
        for project in target.projects
          li
            a(href='/projects/' + project.id title='View project ' + project.name)= project.name
            | &nbsp;(
            for session,i in project.sessions.slice(0, 3)
              if i > 0
                | ,&nbsp;
              - var sessionName = (session.summary) || (moment(session.start).format('YYYY-MM-DD HH:mm:ss'))
              a(href='/sessions/' + session.id title='View session ' + sessionName)= sessionName
            | ,&nbsp;
            a(href='/sessions?projectid=' + project.id title='All sessions for this project') ...
            if project.sessions.length == 0
              | No session in this project within this target's period
            | )
        
