a.btn.btn-lg.btn-default(href='/targets?current=true' title='List of current targets')
  span.fa.fa-bullseye.fa-lg
a.btn.btn-lg.btn-default(href='/projects/new' title='Create new project')
  span.fa.fa-lg.fa-plus
  |  
  span.fa.fa-lg.fa-file-o
a.btn.btn-lg.btn-default(href='/sessions/new' title='Create new session')
  span.fa.fa-lg.fa-plus
  |  
  span.fa.fa-lg.fa-clock-o
a.btn.btn-lg.btn-default(href='/targets/new' title='Create new target')
  span.fa.fa-lg.fa-plus
  |  
  span.fa.fa-lg.fa-bar-chart