extends ../../layout

block content
  include ../../mixins/paginate
  h1= __('Genres')

  p
    a(href='/genres/new') New genre

  ul.list-group
    each genre in genres
      li.list-group-item
        a.btn.btn-default(href='/genres/' + genre.id + '/edit' title='Edit')
          span.fa.fa-fw.fa-edit.fa-lg
        | &nbsp; 
        span.fa.fa-fw.fa-folder-open-o
        | &nbsp;
        a(href=('/genres/' + genre.id) title=genre.description)= genre.name
  +paginate(paginate, pageCount, currentPage)