extends ../../layout

block content
  h1 Genre 
    em= genre.name
  
  .btn-group(role='toolbar')
    a.btn.btn-lg.btn-default(href='/genres/' + genre.id + '/edit' title='Edit this genre' role='button')
      span.fa.fa-edit.fa-lg
    include toolbar
  p 
  
  ul.list-group
    li.list-group-item
      .row
        .col-sm-2
          strong Description:  
        .col-sm-10
          unless genre.description
            | No description provided
          else
            - var descPieces = genre.description.split(/(?:\r\n|\r|\n)/g)
            for desc, i in descPieces
              if i > 0
                br
              = desc
    li.list-group-item
      .row
        .col-sm-2
          strong Projects with this genre: 
        .col-sm-10
          for project, i in genre.projects
            if i > 0
              | ,&nbsp;
            a(href='/projects/' + project.id title='View project ' + project.name)= project.name