extends ../../layout

block content
  h1= title
  
  .btn-group(role='toolbar')
    a.btn.btn-lg.btn-default(href='/genres/' + genre.id + '/edit' title='Edit this genre' role='button')
      span.fa.fa-edit.fa-lg
    include toolbar
  p 
  
  .row
    .col-sm-2.text-right
      strong Name:
    .col-sm-10
      = genre.name
    
  .row
    .col-sm-2.text-right
      strong Description:  
    .col-sm-10
      - var descPieces = genre.description.split(/(?:\r\n|\r|\n)/g)
      for desc, i in descPieces
        if i > 0
          br
        = desc
        
  .row
    .col-sm-2.text-right
      strong Projects with this:  
    .col-sm-10
      for project, i in genre.projects
        if i > 0
          | ,&nbsp;
        a(href='/projects/' + project.id title='View project ' + project.name)= project.name