doctype html
html
  head
    title Writer's Trail
    head(profile="http://www.w3.org/2005/10/profile")
    include ../includes/meta
    link(rel="icon" type="image/png" href="/favicon.png")
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    block styles
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/stylesheets/main.css')
      
  body
    block content
  
    block scripts
      script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
      script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
      script(type='text/javascript', src='/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
      include ../includes/ga