extends ../../layout

block content
  h1  Session 
    em= session.summary
    small
      |  (
      = session.project.name
      |  &mdash; 
      = moment.utc(session.start).format(user.settings.dateFormat + ' ' + user.settings.timeFormat)
      | )
      
  .btn-group(role='toolbar')
    a.btn.btn-lg.btn-default(href='/sessions/' + session.id + '/edit' title='Edit this session')
      span.fa.fa-edit.fa-lg
    include toolbar
  p  
  
  .row
    .col-sm-2.text-right
      strong Summary:
    .col-sm-10
      = session.summary || 'No summary provided'
      
  .row
    .col-sm-2.text-right
      strong Start:
    .col-sm-10
      = moment.utc(session.start).format(user.settings.dateFormat + ' ' + user.settings.timeFormat)
  
  .row
    .col-sm-2.text-right
      strong Duration:
    .col-sm-10
      = durFormat(session.duration)
      
  .row
    .col-sm-2.text-right
      strong Time not writing:
    .col-sm-10
      = durFormat(session.pausedTime)
      
  .row
    .col-sm-2.text-right
      strong Words written:
    .col-sm-10
      = session.wordcount
      | &nbsp;words
      
  .row
    .col-sm-2.text-right
      strong Is countdown?
    .col-sm-10
      = session.isCountdown ? 'Yes' : 'No'
      
  .row
    .col-sm-2.text-right
      strong Project:
    .col-sm-10
      a(href='/projects/' + session.project.id title='View project ' + session.project.name)= session.project.name
  
  .row
    .col-sm-2.text-right
      strong Targets advanced:
    .col-sm-10
      if session.project.targets.length === 0
        | None
      for t, i in session.project.targets
        if i > 0
          | ,&nbsp
        a(href='/targets/' + t.id title='View target ' + t.name)= t.name
  